* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
}

p {
  margin: 6px 0px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.cat-fact-container,
.met-info-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;
  padding: 20px 32px;
}


.cat-fact-container{
  background-color: rgb(175, 175, 175);
}
.fact-word {
  font-style: italic;
}

.met-info-container {
  background-color: rgb(94, 94, 94);
}
.met-info-container div {
  text-align: center;
}
.met-title-h3 span {
  font-style: italic;
}
.met-generated-image {
  height: 300px;
}


.error-message{
  display: flex;
  align-items: center;
  gap: 4px;
  font-style: italic;
  color: rgb(157, 157, 157);
}
.symbol{
  height: 20px;
}


