* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
}

p {
  margin: 6px 0px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.arrow{
  position: fixed;
  height: 140px;
  width: 140px;
  top: 50%;
  right: 50%;
  border-radius: 100px;

  transform: translate(50%, -50%);

  background-color: rgb(255, 255, 255);
}
.arrow img {
  width: 100%;
}
.cat-fact-container,
.met-info-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;
  padding: 20px 32px;
}

.cat-fact-container {
  background-color: rgb(175, 175, 175);
}
.fact-word {
  font-style: italic;
}

.met-info-container {
  background-color: rgb(94, 94, 94);
}
.met-info-container div {
  text-align: center;
}
.met-title-h3 span {
  font-style: italic;
}
.met-generated-image {
  height: 300px;
}

.met-error-message, .cat-error-message {
  display: flex;
  align-items: center;
  gap: 4px;
  font-style: italic;
}
.met-error-message{
  color: rgb(95, 19, 19);
}
.cat-error-message {
  color: rgb(147, 27, 27);
}

.symbol {
  height: 22px;
}
