* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
}
button:hover{
  cursor: pointer;
  scale: 1.07;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.welcome-page-container{
  position: fixed;
  top: 20%;
  right: 50%;
  transform: translate(50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.welcome-page-title{
  background-color: white;
  padding: 10px 22px;
  border-radius: 12px;
  white-space: nowrap;
  margin-bottom: 10px;
}
.welcome-page-sub-title{
  font-size: 22px;
  font-weight: 100;
  white-space: nowrap;
}
.welcome-page-sub-title span{
  background-color: rgb(199, 199, 199);
  border-radius: 6px;
  padding: 4px 8px;
}
.welcome-page-image-container{
  width: 840px;
  display: flex;
  justify-content: space-between;
}
.welcome-page-doof-image{
  width: 250px;
  margin-left: 20px;
}
.welcome-page-cat-image{
  width: 300px;
}

.button-container{
  position: fixed;
  top: 55%;
  right: 50%;
  transform: translate(50%);
}
.cat-fact-button{
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 40px;
  color: white;
  background-color: #000000;
  padding: 10px 16px;
  border: none;
  border-radius: 30px;

  transition: transform 0.29s, scale 0.12s
}
.cat-fact-button:active{
  scale: 1;
}
.move{
  transform: translate(0px, 16px);
}


.arrow-container{
  display: none;
  position: fixed;
  height: 110px;
  width: 110px;
  top: 45%;
  right: 50%;
  border-radius: 100px;

  transform: translate(50%, -50%);

  background-color: rgb(255, 255, 255);
}
.arrow-container-on{
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
.arrow-container img {
  width: 100%;
}

.cat-container,
.met-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.cat-container {
  background-color: rgb(175, 175, 175);
}
.cat-image, 
.met-image {
  max-width: 450px;
  overflow: hidden;
  justify-content: center;
  display: flex;
  height: 300px;
}
.fact-word {
  font-style: italic;
}
.fact-word span{
  text-decoration: underline;
}

.met-container {
  background-color: rgb(94, 94, 94);
}
.met-container div {
  text-align: center;
}
.met-word-display{
  color: rgb(175, 175, 175);
  font-style: italic;
}
.met-word-display span {
  text-decoration: underline;
}

.met-error-message, .cat-error-message {
  display: flex;
  align-items: center;
  gap: 4px;
  font-style: italic;
}
.met-error-message{
  color: rgb(103, 15, 15);
}
.cat-error-message {
  color: rgb(147, 27, 27);
}

.symbol {
  height: 22px;
}
.hide {
  display: none;
}